* {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
    margin-bottom: 40px;
}

ul {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #000000;
    height: 100%;
    margin: 0;
}

i {
    margin-bottom: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.header__container {
    display: flex;
    min-height: 40px;
    align-items: center;
    background-color: #587c91;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    gap: 90px;
    align-items: center;
}

[class*='__item'] {
    list-style-type: none;
}

[class*='__link'] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 15px;
    text-decoration: none;
    color: #1d1c22;
}

[class*='__link']:hover {
    color: #ffffff;
    transition: 0.1s;
}

.main__container {
    display: flex;
    min-height: calc(100vh - 80px);
}

.wrapper-left {
    padding: 20px;
    flex: 1 1 30%;
    background-color: #b3ccde;
}

.wrapper-right {
    flex: 1 1 70%;
    padding: 30px;
}

.section-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-bottom: 10px;
    border-radius: 20px;
    border: 4px solid rgb(42, 77, 201);
    box-shadow: 0 0 25px rgb(23, 119, 238);
    width: 200px;
    height: 280px;
    align-items: center;
}

.section {
    margin-bottom: 50px;
}

.contact__item {
    display: flex;
    align-items: center;
    line-height: 1;
    margin: 10px;
}

.ico {
    width: 18px;
}

.skills__item {
    font-size: 17px;
    list-style-type: none;
    padding-left: 10px
}

.ico__lng {
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.languages__item {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
}

.footer__container {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #587c91;
}

.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.code__box {
    background-color: #b3ccde;
    border: 1.5px solid rgb(42, 77, 201);
    padding: 5px;
}

.code__function {
    color: rgb(250, 250, 250);
    font-weight: 800;
}

.footer__container {
    height: 45px;
}

[class*='__container'] {
    max-width: 997px;
    margin: 0px auto;
}

.experience__box {
    display: flex;
    align-items: center;
    width: 250px;
    flex-direction: column;
    border: 1px solid;
}

@media (max-width: 850px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    .avatar {
        width: 150px;
    }
}

@media (max-width: 400px) {
    .header__container {
        display: none;
    }
}

@media (max-width: 500px) {
    .main__container {
        flex-direction: column;
    }

    .wrapper-right {
        display: flex;
        flex-wrap: wrap;
    }

    .section-contact {
        flex: 1 1 50%;
        order: -1;
    }

    .section-photo {
        flex: 1 1 50%;
    }

    .section-skills {
        flex: 1 1 50%;
    }

    .section-languages {
        flex: 1 1 50%;
    }
}

@media (max-width: 400px) {
    .wrapper-left {
        display: block;
    }
}

.switch {
    position: relative;
    right: 60px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(20, 43, 78);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2f5e85;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.list-item {
    margin: 15px 0;
}